/web/assets/*
/web/reg
/web/reg2
/web/document-qr
/vargrant

/nbproject

Thumbs.db

/vendor

composer.phar

composer.lock

.DS_Store

phpunit.phar

/phpunit.xml

tests/_output/*
tests/_support/_generated

/.vagrant

/docker/mysql/mysql8.0/data
/docker/mysql/mysql8.0/logs
/docker/mariadb/data
/docker/pgdata/data

/report.1
/config/db.php
/config/theptarin.php
/config/ttr_him.php.php

DB/mysql/
python_api_local
/mount